<div class="outer-container">

  <div class="banner" data--200-top="opacity: 1;" data-top-bottom="opacity: 0;">

    <div class="banner__image" data-0="transform: translateY(0px);" data-top-bottom="transform: translateY(300px);"></div>
        <div class="banner__caption">
        <h1 class="logo">schmood</h1>
        <p class="sub_header">
            instructions: click on image to generate a spotify playlist according to the mood.
        </p>
        <%=image_tag("icons8-expand_arrow.png")%>
        </div>
    </div>

  <div data-0="background-color:rgb(255,255,255);" data-500="background-color:rgb(255, 230, 0);" class="happy_section schmooder">
    <p class="buzz_text">happy.</p>
    <%= link_to image_tag('happy_still.jpg'), spotify_login_path(user_mood: 'happy'), class: 'mood happy' %>
  </div>

  <div data-center="background-color:rgb(0, 0, 255);" data-500="background-color:rgb(255, 230, 0);" class="sad_section  schmooder">
    <p class="buzz_text">sad.</p>
    <%= link_to image_tag('sad_still.jpg'), spotify_login_path(user_mood: 'sad'), class: 'mood sad' %>
  </div>

  <div data-center="background-color:rgb(255, 0, 51);" data-700="background-color:rgb(0, 0, 255);" class="moody_section  schmooder">
    <p class="buzz_text">moody.</p>
    <%= link_to image_tag('moody_still.jpg'), spotify_login_path(user_mood: 'moody'), class: 'mood moody' %>
  </div>

    <div data-bottom="background-color:rgb(255, 255, 255);" data-300-bottom="background-color:rgb(255, 0, 51);" class="footer_section  schmooder">
    Curated by Alex G. Legaspi
  </div>

</div>