/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/scss/bootstrap
 *= require_self
 */

 body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(image_path('home_wallpaper.jpg'));
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.logo {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 13vw;
    color: rgba(255, 255, 255, 0.76);
    // text-shadow: 2px 2px dimgrey;
    margin: auto;
    padding: 0;
}

$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: rgba(51, 51, 51, 0.397);

.shine {
	background: #fd640880 -webkit-gradient(linear, left top, right top, from(#ff5e00), to(#ff6309), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: $text-color;
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}



@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}

  
  
.spacing {
    position: relative;
    padding: 20px;
    margin: 10px;
    min-width: 320px;
}


.happy:hover {
    position: relative;
    content: url('happy_giphy.gif');
    margin-top: 0px;
    margin-bottom: -15px;
}


.voguing:hover {
    position: relative;
    content: url('voguing_giphy.gif');
    margin-top: 0px;
    margin-bottom: -15px;
}


.issavibe:hover {
    position: relative;
    content: url('issavibe_giphy.gif');
    margin-top: 0px;
    margin-bottom: -15px;
}


.moody:hover {
    position: relative;
    content: url('moody_giphy.gif');
    margin-top: 0px;
    margin-bottom: -15px;
}

