/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/scss/bootstrap
 *= require_self
 *= require_tree .
 */

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.outer-container {
    width: 100%;
    min-height: 1400px;
  }
  
  .banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 255, 255);
    transform-style: preserve-3d;
    transform: translatez(0);
    
    &__image, &__caption {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    &__image {
      height: 800px;
      z-index: 10;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
      transform: translatez(0);
    }
    
    &__caption {
      height: auto;
      z-index: 20;
      text-align: center;
      color: #fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -10px;
      padding-left: 20px;
      padding-right: 20px;
      
    }
    
  }

h1 {
	display: inline;
	position: relative;
    font-family: 'Shrikhand', cursive;
    font-size: 15vw;
    letter-spacing: -5px;
    margin-top: 50px;
	color: rgba(0, 0, 255, 0.678); 
}

h1:before {
	content: "schmood";
    position: absolute; left: 0px; top: -30px;
	color: rgba(255, 230, 0, 0.658);      
}

h1:after {
	content: "schmood";
    position: absolute; left: 0px; top: -0px;
    color: rgba(255, 0, 60, 0.521); 
}

.sub_header {
    color: black;
    font-family: monospace;
}

.buzz_text {
    color: white;
    font-family: monospace;
    font-size: 15vw;
    margin-top: 10px;
}

.happy_section {
    padding: 50px;
    height: 800px;
}

.sad_section {
    padding: 50px;
    height: 800px;
    
}

.moody_section {
    padding: 50px;
    height: 800px;
}

.footer_section {
    padding: 50px;
    height: 400px;
    
}

color_picker {
    color: rgb(255, 0, 51);
}

.schmooder {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy:hover {
    content: url('happy_giphy.gif');
    margin-top: 0px;
    margin-bottom: 0px;
    
}


.sad:hover {
    content: url('sad_giphy.gif');
    margin-top: 0px;
    margin-bottom: 0px;
}


.moody:hover {
    content: url('moody_giphy.gif');
    margin-top: 0px;
    margin-bottom: 0px;
}


@media (max-width: 768px) {
    .col-xs-12.text-right, .col-xs-12.text-left {
            text-align: center;
            margin: auto;
     } 
  }